version: "2"
services:
    mysql-app:
        image: mysql
        ports:
          - "3306:3306"
        volumes:
            - mysql-data:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=db
            - MYSQL_USER=db
            - MYSQL_PASSWORD=db
    php-app:
        build: "./php"
        volumes:
            - "./www:/var/www"
        links:
            - elk-app
            - mysql-app
        hostname: "php-app"
        depends_on:
            - mysql-app
    nginx-app:
        image: nginx:1.12
        ports:
           - "80:80"
           - "443:443"
        volumes:
            - "./partials/nginx:/etc/nginx/conf.d"
            - "./www:/var/www"
        links:
            - elk-app
        depends_on:
            - php-app
    elk-app:
        image: sebp/elk:540
        ports:
            - "5601:5601"
            - "9200:9200"
            - "5044:5044"
volumes:
    mysql-data: